.big-content{ "ng-controller": "ServiceEditCtrl" }
  = simple_form_for @service, url: url, html: { "service-form": @service.id || 0, "service-name": params[:name] } do |s|

    .content-header
      = render partial: "service_header", locals: { s: s }

    .content-body
      -#= render partial: "files", locals: { s: s }
      .service-left-part
        = render partial: "service_table", locals: { s: s }
      .service-right-part
        = render partial: "right_part", locals: { s: s }

  = render partial: "network"
  = render partial: "ports"