.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "modal-show": "service.flags.networkModal" }
  .modal-dialog
    .modal-content{ "ng-controller": "ServiceEditNetworkCtrl as networkModal" }
      .modal-header
        %h4.modal-title Подключение к сети
      .modal-body
        .form-group.string
          = label_tag :template_network_segment, "Сегмент сети", class: "control-label"
          = text_field_tag "template_network[segment]", nil, autofocus: true, class: "form-control", "ng-model": |
          "networkModal.value.segment" |
        .form-group.string
          = label_tag :template_network_vlan, "VLAN", class: "control-label"
          = text_field_tag "template_network[vlan]", nil, class: "form-control", "ng-model": "networkModal.value.vlan"
        .form-group.string
          = label_tag :template_network_dns_name, "DNS имя", class: "control-label"
          = text_field_tag "template_network[dns_name]", nil, class: "form-control", "ng-model": "networkModal.value |
          .dns_name" |
      .modal-footer
        = button_tag "Готово", class: "btn-success", "ng-click": "networkModal.readyNetworkModal()"
        = button_tag "Отмена", class: "btn-default", "ng-click": "networkModal.closeNetworkModal()"