.modal.fade#networkModal{ "tabindex": "-1", "role": "document", "aria-hidden": true, "modal-show": "networkModalVariable" }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Подключение к сети
      .modal-body
        .form-group.string
          %label.string.optional.control-label{ for: "template_network_segment" } Сегмент сети
          = text_field_tag "template_network[segment]", nil, autofocus: true, class: "form-control", "ng-model": "template_network.segment", "ng-value": "networks[0].segment"
        .form-group.string
          %label.string.optional.control-label{ for: "template_network_vlan" } VLAN
          = text_field_tag "template_network[vlan]", nil, class: "form-control", "ng-model": "template_network.vlan", "ng-value": "networks[0].vlan"
        .form-group.string
          %label.string.optional.control-label{ for: "template_network_dns_name" } DNS имя
          = text_field_tag "template_network[dns_name]", nil, class: "form-control", "ng-model": "template_network.dns_name", "ng-value": "networks[0].dns_name"
      .modal-footer
        = button_tag "Готово", class: "btn-success", "ng-click": "readyNetworkModal()"
        = button_tag "Отмена", class: "btn-default", "ng-click": "closeNetworkModal()"
        -# "data-dismiss": "modal"