.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "modal-show": "servicePage.previewModal" }
  .modal-dialog.preview-service-table
    .modal-content{ "ng-controller": "ServicePreviewCtrl as preview" }
      .modal-header
        - if can? :manage, Service
          .pull-right
            .btn-group
              = button_tag class: "dropdown-toggle", "data-toggle": "dropdown" do
                Скачать
                %span.caret
              %ul.dropdown-menu
                %li{ "ng-class": "{ disabled: preview.missing_file.scan }", "disable-link": "preview.missing_file.scan" }
                  = link_to "Формуляр", "", "ng-href": "/services/{{preview.service.id}}/download/scan"
                %li{ "ng-class": "{ disabled: preview.missing_file.act }", "disable-link": "preview.missing_file.act" }
                  = link_to "Акт", "", "ng-href": "/services/{{ preview.service.id }}/download/act"
                %li{ "ng-class": "{ disabled: preview.missing_file.instr_rec }", "disable-link": "preview.missing_file.instr_rec" }
                  = link_to "Инструкцию по восст.", "", "ng-href": "/services/{{ preview.service.id }}/download/instr_rec"
                %li{ "ng-class": "{ disabled: preview.missing_file.instr_off }", "disable-link": "preview.missing_file.instr_off" }
                  = link_to "Инструкцию по откл.", "", "ng-href": "/services/{{ preview.service.id }}/download/instr_off"

            .btn-group
              = button_tag class: "dropdown-toggle", "data-toggle": "dropdown" do
                Создать
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Формуляр", "#", "ng-href": "/services/{{ preview.service.id }}/generate/formular"
                %li= link_to "Акт", "#", "ng-href": "/services/{{ preview.service.id }}/generate/act"

            = link_to icon("fa fa-cog fa-fw"), "", class: "btn btn-default default-color", "ng-href": "/services/{{ preview.service.name }}/edit", "tooltip-placement": "left", "uib-tooltip": "Редактировать сервис"

        .pull-left
          %h3.modal-title
            .pull-left
              %div{ "ng-bind": "preview.service.number" }
            .pull-left
              &nbsp;&nbsp;
            .pull-left
              = icon("fa {{ preview.flag.icon }} fa-1x", "tooltip-placement": "bottom", "uib-tooltip": "{{ preview.flag.text }}" )

      .modal-body
        = render partial: "preview_table"
      .modal-footer
        = button_tag "Закрыть", "data-dismiss": "modal"