.panel.panel-default
  .panel-heading
    %table.internal-table
      %tr
        %td
          Хостинг сервиса
        %td.min-td
          = icon("fa fa-plus-circle fa-lg", title: "Добавить хостинг", class: "test")
  .panel-body
    %table.internal-table
      %tr
        %td
          Хостинг 1
        %td.min-td
          = icon("fa fa-minus-circle fa-lg", title: "Удалить хостинг")

.panel.panel-default
  .panel-heading
    %table.internal-table
      %tr
        %td
          Зависимости сервиса
        %td.min-td
          = icon("fa fa-plus-circle fa-lg", title: "Добавить зависимость", "ng-click": "addParent()")
  .panel-body
    %div{ "ng-show": "showParents()" } Отсутствуют

    %table.internal-table{ "ng-show": "parents.length" }
      %tbody{ "ng-repeat": "parent in parents", "ng-hide": "parent.destroy" }
        %tr
          %td
            .form-group.string.optional.service_parents
              = select_tag "service[service_dep_parents_attributes][{{ $index }}][parent_id]", nil, class: "form-control", "ng-model": "parent.parent_service", "ng-options": "service.name for service in services | filter:{ name: '!' + current_name }:true track by service.id"
              = hidden_field_tag "service[service_dep_parents_attributes][{{ $index }}][id]", "{{ parent.id }}"
              = hidden_field_tag "service[service_dep_parents_attributes][{{ $index }}][_destroy]", "{{ parent.destroy }}"
          %td.min-td
            = icon("fa fa-minus-circle fa-lg", title: "Удалить зависимость", "ng-click": "delParent(parent)")
        %tr.empty{ "ng-show": "!$last" }