.panel.panel-default
  .panel-heading
    Хостинг сервиса
  .panel-body
    = s.association :cluster, label: false, as: :select, input_html: { multiple: false }, include_blank: "Отсутствует", wrapper: false

.panel.panel-default{"ng-controller": "DependenceCtrl as dependence"}
  .panel-heading
    %table.internal-table
      %tr
        %td
          Зависимости сервиса
        %td.min-td
          = icon("fa fa-plus-circle fa-lg pointer", "tooltip-placement": "top", "uib-tooltip": "Добавить зависимость", "ng-click": "dependence.addParent()")
  .panel-body
    %div.ng-hide{ "ng-show": "service.showParents()" } Отсутствуют

    %table.ng-hide.internal-table{ "ng-show": "service.parents.length" }
      %tbody{ "ng-repeat": "parent in service.parents", "ng-hide": "parent.destroy" }
        %tr
          %td
            .form-group.padding-right
              = select_tag "service[service_dep_parents_attributes][{{ $index }}][parent_id]", nil, class: "form-control", "ng-model": "parent.parent_service", "ng-options": "service.name for service in service.services | filter:{ name: '!' + service.current_name }:true track by service.id"
              = hidden_field_tag "service[service_dep_parents_attributes][{{ $index }}][id]", "{{ parent.id }}"
              = hidden_field_tag "service[service_dep_parents_attributes][{{ $index }}][_destroy]", "{{ parent.destroy }}"
          %td.min-td
            = icon("fa fa-minus-circle fa-lg pointer", "tooltip-placement": "top", "uib-tooltip": "Удалить зависимость", "ng-click": "dependence.delParent(parent)")
        %tr.empty{ "ng-show": "!$last" }