.server-parts
  = simple_form_for [@server_part], url: url do |f|
    = f.input :name, label: "Наименование"
    = f.input :part_num, label: "Номер"
    = f.association :detail_type, label: "Тип", prompt: "Выберите тип"
    = f.input :comment, label: "Комментарий"
    = f.button :submit, "Готово", class: "btn-success"
    = button_tag "Отмена", type: "submit", name: "cancel", value: true

