.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "ng-controller": "ServerPartEditCtrl as part", "modal-show": "part.serverPartModal" }
  .modal-dialog
    .modal-content

      %form{ role: "form", "name": "part.form", "data-method": "part.config.method" }
        .modal-header
          %h4.modal-title.text-center{ "ng-bind": "part.config.title" }

        .modal-body
          .form-group.required{ "ng-class": "part.errorClass('server_part[name]')" }
            = label_tag :server_part_name , class: "control-label" do
              %abbr{ title: "required" } *
              %b Наименование комплектующей
            = text_field_tag "server_part[name]", "", class: "form-control", "ng-model": "part.value.name"
            %span.help-block{ "ng-show": "part.form['server_part[name]'].$invalid", "ng-bind": "part.errorMessage('server_part[name]')" }

          .form-group.required{ "ng-class": "part.errorClass('server_part[detail_type_id]')" }
            = label_tag :server_part_detail_type_id , class: "control-label" do
              %abbr{ title: "required" } *
              %b Тип
            = select_tag "server_part[detail_type_id]", nil, class: "form-control", "ng-model": "part.value.detail_type_id", "ng-options": "type.id as type.name for type in part.detail_types", prompt: "Выберите тип комплектующей"
            %span.help-block{ "ng-show": "part.form['server_part[detail_type_id]'].$invalid", "ng-bind": "part.errorMessage('server_part[detail_type_id]')" }

          .form-group
            = label_tag :server_part_part_num , class: "control-label" do
              %b Номер
            = text_field_tag "server_part[part_num]", "", class: "form-control", "ng-model": "part.value.part_num"

          .form-group
            = label_tag :server_part_comment , class: "control-label" do
              %b Комментарий
            = text_area_tag "server_part[comment]", "", class: "form-control", "ng-model": "part.value.comment"

        .modal-footer
          = button_tag "Готово", type: "button", class: "btn btn-success", "ng-click": "part.readyServerPartModal()"
          = button_tag "Отмена", type: "button", "ng-click": "part.closeServerPartModal()"