.medium-content
  %div{ "ng-controller": "ClusterCtrl" }
    = simple_form_for @cluster, url: url, html: { "cluster-form": @cluster.id || 0, "cluster-name": params[:name] } do |s|
      .content-body
        = s.input :name, label: "Наименование", required: true, autofocus: true, input_html: { "ng-model": "cluster.name" }
        %h5
          %b Состав кластера:
        .row.row-margin-bot{ "ng-repeat": "detail in details", "ng-hide": "detail.destroy" }
          = hidden_field_tag "cluster[cluster_details_attributes][{{ $index }}][id]", "{{ detail.id }}"
          = hidden_field_tag "cluster[cluster_details_attributes][{{ $index }}][_destroy]", "{{ detail.destroy }}"
          .col-xs-7
            = select_tag "cluster[cluster_details_attributes][{{ $index }}][server_id]", nil, class: "form-control", "ng-model": "detail.server", "ng-options": "part.name for part in server_parts track by part.id"
          .col-xs-3
            = select_tag "cluster[cluster_details_attributes][{{ $index }}][node_role_id]", nil, class: "form-control", "ng-model": "detail.node_role", "ng-options": "part.name for part in node_parts track by part.id"

          = button_tag icon("fa fa-plus fa-1g"), class: "btn-primary", type: "button", "ng-click": "addClusterPart()"
          = button_tag icon("fa fa-minus fa-1g"), class: "btn-danger", type: "button", "ng-click": "delClusterPart(detail)"

      .content-footer
        = s.button :submit, "Готово", class: "btn-success"
        = button_tag "Отмена", type: "submit", name: "cancel", value: true, class: "btn-default"
