= title "Серверы"

.container
  .row
    .col-lg-8
      .well
        .content-body{ "ng-controller": "ClusterIndexCtrl as clusterPage" }
          %datatable-wrapper
            %table.table.center-header.table-hover.table-striped{ datatable: "", "dt-options": "clusterPage.dtOptions", "dt-columns": "clusterPage.dtColumns", "dt-instance": "clusterPage.dtInstance", width: "100%" }

          = render partial: "preview"
          = render partial: "modal_form"
          = render partial: "services/preview"

    .col-lg-4
      .well
        .content-body{ "ng-controller": "NodeRoleIndexCtrl as nodeRolePage" }
          %datatable-wrapper
            %table.table.center-header.table-striped{ datatable: "", "dt-options": "nodeRolePage.dtOptions", "dt-columns": "nodeRolePage.dtColumns", "dt-instance": "nodeRolePage.dtInstance", width: "100%" }

          = render partial: "node_roles/modal_form"