.navbar.navbar-default{ role: "navigation-main" }
  .container
    .navbar-header
      = button_tag "", class: "navbar-toggle", "data-toggle": "collapse", "data-target": ".navbar-collapse-main" do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse.navbar-collapse-main
      %ul.nav.navbar-nav
        %li
          = link_to "Сервисы", services_path, class: "#{'corp-color' if [services_path, root_path].include? request |
          .env['PATH_INFO'] }" |
        %li
          = link_to "Серверы", clusters_path, class: "#{'corp-color' if current_page? clusters_path}"
