= title "Типы комплектующих"
.detail-types
  = button_to "Добавить", new_detail_type_path, method: :get, class: "btn btn-primary"
  %table.table.table-hover
    %th #
    %th.col-md-10 Имя
    %th
    %th
    - @detail_types.each_with_index do |detail, index|
      %tr
        %td= index.next
        %td= detail.name
        %td
          = link_to icon("fa fa-pencil-square-o fa-1g"), "/detail_types/" + detail.name + "/edit", class: "default-color", title: "Редактировать"
        %td
          = link_to icon("fa fa-trash-o fa-1g"), detail_type_path(detail.id), method: :delete, data: { confirm: "Вы действительно хотите удалить \"#{ detail.name }\"?" }, class: "text-danger", title: "Удалить"
