= title "Типы комплектующих"
.medium-content
  = button_to "Добавить", new_detail_type_path, method: :get, class: "btn btn-primary", form_class: "text-center"
  %table.table.table-striped
    %tr
      %th #
      %th.col-md-10 Имя
      %th
      %th
    - if @detail_types.empty?
      %tr
        %td.text-center{ colspan: 4 } Данные отсутствуют
    - else
      - @detail_types.each_with_index do |detail, index|
        %tr
          %td= index.next
          %td= detail.name
          %td
            = link_to icon("fa fa-pencil-square-o fa-1g"), "/detail_types/" + detail.name + "/edit", class: "default-color", title: "Редактировать"
          %td
            = link_to icon("fa fa-trash-o fa-1g"), detail_type_path(detail.id), method: :delete, data: { confirm: "Вы действительно хотите удалить \"#{ detail.name }\"?" }, class: "text-danger", title: "Удалить"

  = paginate @detail_types, window: 2