= title "Типы кластеров"
.medium-content
  .content-body
    = button_to "Добавить", new_node_role_path, method: :get, class: "btn btn-primary", form_class: "text-center"
    %table.table.table-striped
      %tr
        %th #
        %th.col-md-10 Имя
        %th
        %th
      - @node_roles.each_with_index do |role, index|
        %tr
          %td= index.next
          %td= role.name
          %td
            = link_to icon("fa fa-pencil-square-o fa-1g"), "/node_roles/" + role.name + "/edit", class: "default-color", title: "Редактировать"
          %td
            = link_to icon("fa fa-trash-o fa-1g"), node_role_path(role.id), method: :delete, data: { confirm: "Вы действительно хотите удалить \"#{ role.name }\"?" }, class: "text-danger", title: "Удалить"