.container
  .row
    .col-md-10.col-md-offset-1
      .well
        %div{ "ng-controller": "ServerEditCtrl as server", "ng-init": "server.init(#{@server.id || 0}, '#{params[:name]}')" }
          = simple_form_for @server, url: url do |s|
            .content-body
              .row
                .col-md-6
                  %h3.bottom-line Общая информация об оборудовании
                  .col-md-12
                    = s.input :name, label: "Наименование", autofocus: true, :item_wrapper_class => "test"
                    = s.input :inventory_num, label: "Инвентарный номер"
                    = s.input :serial_num, label: "Серийный номер"
                    = s.input :location, label: "Расположение"
                    = s.input :status, label: "Статус", collection: Server.statuses.keys.to_a, as: :select, prompt: "Выберите статус"

                    - error_class = @server.errors[:server_type_id].empty? ? "" : "has-error"
                    %div{ class: error_class }
                      = label_tag :server_server_type_id , class: "control-label" do
                        %abbr{ title: "required" } *
                        %b Тип Оборудования
                      = select_tag "server[server_type_id]", nil, class: "form-control", "ng-model": "server.data.server_type",
                      "ng-options": "type.name for type in server.serverTypes track by type.id", "ng-change": "server.changeType()", prompt: "Выберите тип оборудования"
                      %span.help-block= get_errors @server.errors[:server_type_id]

                .col-md-6
                  %h3.bottom-line
                    Состав оборудования
                    %small.ng-hide{ "ng-show": "!server.data" } - Необходимо выбрать тип оборудования
                  .col-md-12
                    %div.form-group{ "ng-repeat": "detail_type in server.detailTypes", "ng-show": "server.data" }
                      %label{ "ng-bind": "detail_type.name", "ng-class": "{ 'text-muted': server.presenceCount[detail_type.name] == 0 }" }
                      %span.ng-hide{ "ng-hide": "server.presenceCount[detail_type.name] != 0", "ng-class": "{ 'text-muted': server.presenceCount[detail_type.name] == 0 }" }
                        %b отсутствует
                      &nbsp;
                      = icon("fa fa-plus-circle fa-lg pointer", "tooltip-placement": "right", "uib-tooltip": "Добавить коплектующую", "ng-click": "server.addDetail($index)")
                      %table.internal-table
                        %tbody{ "ng-repeat": "detail in server.data.real_server_details[detail_type.name]", "ng-hide": "detail.destroy" }
                          %tr
                            %td.col-sm-9.col-md-7.col-lg-9.no-left-padding
                              .form-group
                                = select_tag "server[real_server_details_attributes][{{ detail.index }}][server_part_id]", nil, class: "form-control", "ng-model": "detail.server_part", "ng-options": "part.name for part in detail_type.server_parts track by part.id"
                                = hidden_field_tag "server[real_server_details_attributes][{{ detail.index }}][id]", "{{ detail.id }}"
                                = hidden_field_tag "server[real_server_details_attributes][{{ detail.index }}][_destroy]", "{{ detail.destroy }}"
                            %td.col-sm-3.col-md-5.col-lg-3
                              .col-sm-10.col-md-10.col-lg-10.no-left-padding.no-right-padding
                                = text_field_tag "server[real_server_details_attributes][{{ detail.index }}][count]", "{{ detail.count }}", class: "form-control", "ng-model": "detail.count"
                              .col-sm-2.col-md-2.col-lg-2.no-right-padding
                                = icon("fa fa-minus-circle fa-lg icon-padding", "tooltip-placement": "left", "uib-tooltip": "Удалить комплектующую", "ng-click": "server.delDetail(detail_type.name, detail)")
                          %tr.empty{ "ng-show": "!detail.$last" }
                      .bottom-line

            .content-footer
              = s.button :submit, "Готово", class: "btn-success"
              = button_tag "Отмена", type: "submit", name: "cancel", value: true