= title "Серверы"
.detail-types
  = button_to "Добавить", new_server_path, method: :get, class: "btn btn-primary"
  %table.table.table-hover.table-bordered
    %th #
    %th Имя
    %th Расположение
    %th
    %th
    - @servers.each_with_index do |server, index|
      %tr
        %td= index.next
        %td= server.name
        %td= server.location
        %td
          = link_to icon("fa fa-pencil-square-o fa-1g"), edit_server_path(server.name), class: "default-color"
        %td
          = link_to icon("fa fa-trash-o fa-1g"), server_path(server.name), method: :delete, data: { confirm: "Вы действительно хотите удалить \"#{ server.name }\"?" }, class: "text-danger", title: "Удалить"
