.container
  .row
    .col-md-8.col-lg-6.col-md-offset-2.col-lg-offset-3
      .well
        %div{ "ng-controller": "ServerEditTypeCtrl as serverType", "ng-init": "serverType.init(#{@server_type.id || 0}, '#{params[:name]}')" }
          = simple_form_for @server_type, url: url do |s|
            .content-body
              .row
                .col-md-12.col-lg-12
                  %h3.bottom-line Общая информация об оборудовании
                  .col-lg-12
                    = s.input :name, label: "Наименование", autofocus: true
              .row
                .col-md-12.col-lg-12
                  %h3.bottom-line Состав оборудования
                  .col-md-12.col-lg-12
                    %div.form-group{ "ng-repeat": "detail_type in serverType.detailTypes" }
                      %label{ "ng-bind": "detail_type.name", "ng-class": "{ 'text-muted': serverType.presenceCount[detail_type.name] == 0 }" }
                      %span.text-muted.ng-hide{ "ng-hide": "serverType.presenceCount[detail_type.name] != 0" }
                        %b отсутствует
                      &nbsp;
                      = icon("fa fa-plus-circle fa-lg pointer", "tooltip-placement": "right", "uib-tooltip": "Добавить коплектующую", "ng-click": "serverType.addDetail($index)")
                      %table.internal-table
                        %tbody{ "ng-repeat": "detail in serverType.data[detail_type.name]", "ng-hide": "detail.destroy" }
                          %tr
                            %td.col-sm-9.col-md-7.col-lg-9.no-left-padding
                              .form-group
                                = select_tag "server_type[template_server_details_attributes][{{ detail.index }}][server_part_id]", nil, class: "form-control", "ng-model": "detail.server_part", "ng-options": "part.name for part in detail_type.server_parts track by part.id"
                                = hidden_field_tag "server_type[template_server_details_attributes][{{ detail.index }}][id]", "{{ detail.id }}"
                                = hidden_field_tag "server_type[template_server_details_attributes][{{ detail.index }}][_destroy]", "{{ detail.destroy }}"
                            %td.col-sm-3.col-md-5.col-lg-3
                              .col-sm-10.col-md-10.col-lg-10.no-left-padding.no-right-padding
                                = text_field_tag "server_type[template_server_details_attributes][{{ detail.index }}][count]", "{{ detail.count }}", class: "form-control", "ng-model": "detail.count"
                              .col-sm-2.col-md-2.col-lg-2.no-right-padding
                                = icon("fa fa-minus-circle fa-lg icon-padding pointer", "tooltip-placement": "left", "uib-tooltip": "Удалить комплектующую", "ng-click": "serverType.delDetail(detail_type.name, detail)")
                          %tr.empty{ "ng-show": "!detail.$last" }
                      .bottom-line

            .content-footer
              = s.button :submit, "Готово", class: "btn-success"
              = button_tag "Отмена", type: "submit", name: "cancel", value: true