= title "Просмотр контактов"
.default-content{ "ng-controller": "ContactCtrl as contactPage" }
  .content-header
    .header-padding
      = render partial: "templates/service_contacts"

  .content-body
    %datatable-wrapper
      %table.table.table-striped{ datatable: "ng", "dt-options": "contactPage.dtOptions" }
        %thead
          %tr
            %th #
            %th.col-md-5 ФИО
            %th.col-md-1 Отдел
            %th.col-md-2 Раб. тел.
            %th.col-md-3 Мобильный тел.
            %th
            %th
        %tbody
          %tr{ "ng-repeat": "contact in contactPage.contacts" }
            %td{ "ng-bind": "$index + 1" }
            %td{ "ng-bind": "contact.info" }
            %td{ "ng-bind": "contact.dept" }
            %td{ "ng-bind": "contact.work_num" }
            %td{ "ng-bind": "contact.mobile_num" }
            %td.text-center
              = link_to icon("fa fa-pencil-square-o fa-fw"), "#", class: "default-color", "disable-link": true, "ng-click": "contactPage.showContactModal(contact.tn)"
            %td.text-center
              = link_to icon("fa fa-trash-o fa-fw"), "#", class: "text-danger", "disable-link": true, "ng-click": "contactPage.destroyContact(contact.tn)"

  = render partial: "modal_form"