.modal-dialog
  .modal-content
    = simple_form_for @department_head, url: url, remote: true do |s|
      .modal-header
        %h4.modal-title.text-center= @department_head.info || "Новый руководитель"

      .modal-body
        = s.input :tn, label: "Табельный номер"

      .modal-footer
        = s.button :submit, "Готово", class: "btn-success"
        = button_tag "Отмена", type: "button", "data-dismiss": "modal"