.navbar.navbar-inverse{ role: "navigation-top" }
  .container
    .row
      .col-md-12
        .navbar-header
          = button_tag "", class: "navbar-toggle", "data-toggle": "collapse", "data-target": ".navbar-collapse-head" do
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        = link_to root_path, class: "navbar-brand" do
          = image_tag "Logo.png"
        .navbar-text
          Система учета оборудования и сервисов ЦОД

        .collapse.navbar-collapse.navbar-collapse-head
          .navbar-text.navbar-right.pull-right
            = "#{session[:user_fullname]} | "
            = link_to destroy_user_session_path, method: :delete, class: "navbar-link" do
              Выход

- if current_user.has_role? :admin
  = render partial: "layouts/headers/admin_header"
- elsif current_user.has_role? :uivt
  = render partial: "layouts/headers/uivt_header"
- elsif current_user.has_role? :not_uivt
  = render partial: "layouts/headers/not_uivt_header"
- elsif current_user.has_role? :head
  = render partial: "layouts/headers/head_header"
