.header-content
  .header-top
    .logo
      = image_tag("Logo.png")
    .user-menu
      %ul
        %li
          Добро пожаловать,
          = current_user.username
        %li
          = link_to "Выход", destroy_user_session_path, method: :delete

.navbar.navbar-default
  .navbar-inner
    .container
      /.navbar-brand
      /  Logo
      .nav-collapse
        %ul.nav.navbar-nav
          %li.divider-vertical
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do
              Сервисы
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Просмотр", "#"
              %li
                = link_to "Добавить", "#"

          %li.divider-vertical
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do
                Серверы
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Просмотр", servers_path
                %li
                  = link_to "Типы серверов", server_types_path
                %li
                  = link_to "Комплектующие серверов", server_parts_path
                %li
                  = link_to "Типы комплектующих", detail_types_path
          %li.divider-vertical
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do
                Кластеры
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Просмотр", clusters_path
                %li
                  = link_to "Типы кластеров", node_roles_path
          %li.divider-vertical
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do
                Зип
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Просмотр", "#"
                %li
                  = link_to "Добавить", "#"
          %li.divider-vertical
        %ul.nav.navbar-nav.pull-right
          %p.navbar-text= yield(:title)
          - if current_user.has_role? :admin
            %li.divider-vertical
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do
                Администрирование
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Пользователи", users_path
                %li
                  = link_to "Роли", "#"
            %li.divider-vertical
          /%li
          /  = link_to "Выход", destroy_user_session_path, method: :delete
          /%li.divider-vertical
