.navbar.navbar-inverse{ role: "navigation-top" }
  .container
    .row
      .col-md-8.col-md-offset-2
        .navbar-header
          = button_tag "", class: "navbar-toggle", "data-toggle": "collapse", "data-target": ".navbar-collapse-head" do
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = image_tag("Logo.png")
          = "Пользователь #{current_user.username}"
        .collapse.navbar-collapse.navbar-collapse-head
          .navbar-text.pull-right
            = link_to "Выход", destroy_user_session_path, method: :delete, class: "navbar-link"

- if current_user.has_role? :admin
  = render partial: "layouts/headers/admin_header"
- elsif current_user.has_role? :uivt
  = render partial: "layouts/headers/uivt_header"
- elsif current_user.has_role? :not_uivt
  = render partial: "layouts/headers/not_uivt_header"
- elsif current_user.has_role? :head
  = render partial: "layouts/headers/head_header"
