!!!
%html{ "ng-app": "servers" }
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', controller_name
    = csrf_meta_tags
  %body
    = render partial: "layouts/header"
    .absolute{ "ng-controller": "FlashMessageCtrl as flash", "data-success": flash[:success], "data-error": flash[:error] }
      .alert.alert-success.text-center{ "ng-show": "flash.success" }= flash[:success]
      .alert.alert-danger.text-center{ "ng-show": "flash.error" }= flash[:error]
    .main-content
      = yield

